.custom-card {
  max-width: 450px; /* Ajustamos para que no sea tan pequeña */
  margin: auto;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.image-container {
  width: 100%;
  height: 350px; /* Ajustamos para que la imagen se vea bien */
  overflow: hidden;
  border-radius: 8px;
}

.hero-image {
  width: 100%;
 
}