<mat-card class="hero-form-card">
  <mat-toolbar color="primary" class="hero-header">
    <span>Edit Hero</span>
  </mat-toolbar>

  <form [formGroup]="heroForm">
    <div class="form-container">
      <!-- Hero Image -->
      <div class="hero-image-container">
        <img [src]="heroForm.get('image_url')?.value || heroForm.get('alt_img')?.value"  alt="imagen del heroe" class="hero-image">
      </div>

      <!-- Hero Fields -->
      <mat-card class="hero-details">
        <mat-form-field appearance="outline">
          <mat-label>Superhero</mat-label>
          <input matInput formControlName="superhero">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Alter Ego</mat-label>
          <input matInput formControlName="alter_ego">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>First Appearance</mat-label>
          <input matInput formControlName="first_appearance">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Characters</mat-label>
          <input matInput formControlName="characters">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Publisher</mat-label>
          <input matInput formControlName="publisher">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Alternative Image</mat-label>
          <input matInput type="text" formControlName="alt_img">
        </mat-form-field>
      </mat-card>
    </div>

    <!-- Buttons -->
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
      <button mat-raised-button color="warn" (click)="onDeleteHero()">Borrar</button>
    </div>
  </form>

</mat-card>

<style>
  .hero-form-card {
  max-width: 800px;
  margin: auto;
  padding: 24px;
  border-radius: 16px;
 /* box-shadow: 0 0 20px rgba(30, 136, 229, 0.6);*/
  
}


.hero-header {
  margin-bottom: 20px; /* Añade espacio entre la barra y el contenido de la tarjeta */
}

.form-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.hero-image-container {
  flex: 1;
  max-width: 250px;
}

.hero-image {
  width: 100%;
  height: auto;
  border-radius: 16px;
  transition: transform 0.3s ease-in-out;
}

.hero-image-container:hover .hero-image {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(30, 136, 229, 0.8);
}

.hero-details {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 8px;
}
</style>